---
import type { GetStaticPaths } from "astro"
import { getCollection, getEntryBySlug } from "astro:content"
import Layout from "../../components/Layout.astro"
import NavigationBack from "../../components/NavigationBack.astro"
import Footer from "../../components/Footer.astro"
import { localDate } from "~/utils/lib"

const { slug } = Astro.params
if (!slug) {
	throw new Error("slug cannot be empty!")
}
const post = await getEntryBySlug("works", slug)
if (!post) {
	throw new Error("post doesn't exist!")
}
const { Content } = await post.render()
export const getStaticPaths = (async () => {
	const posts = await getCollection("works")
	const sortedArticles = posts.sort(
		(a, b) =>
			new Date(b.data.publishDate).valueOf() -
			new Date(a.data.publishDate).valueOf()
	)
	return sortedArticles.map((post) => ({
		params: {
			slug: post.slug,
		},
	}))
}) satisfies GetStaticPaths
---

<Layout>
	<div class="flex flex-col gap-12">
		<NavigationBack title={localDate(post.data.publishDate)} />
		<div>
			<h1 class="uppercase">{post.data.title}</h1>
			<div class="flex gap-2 mt-auto max-w-lg">
				{
					post.data.tags.map((tag: string) => (
						<div class="px-1 py-0.5">
							<p class="text-slate-500 text-sm">{tag}</p>
						</div>
					))
				}
			</div>
		</div>

		<div class="overflow-hidden rounded-md">
			<img
				src={post.data.hero}
				alt={post.data.hero}
				class="group-hover:scale-105 aspect-[3/2] group-hover:brightness-75 object-cover transition-all"
			/>
		</div>
	</div>
	<article class="custom-prose w-full max-w-screen-lg">
		<Content />
	</article>
	<Footer />
</Layout>
